out/
.vscode/
.idea
.VSCodeCounter/

# Omnet++ stuff
out/
.settings
.oppbuildspec
.cproject
.project
.nedexclusions
.nedfolders
.oppfeaturestate
.externalToolBuilders/

# VS CODE
.vscode/

# Executables
src/thesis_dbg
src/thesis

src/Makefile


*_m.h
*_m.cc



src/protocol
src/protocol_dbg

# simulation videos
simulations/.qtenvrc
simulations/results/
simulations/frames/
*.mp4

# trace files
*.pcap 

# valgrind 
simulations/valgrind-out.txt

# logs
*.log
.cmdenv-log
.qtenvrc

# perf 
perf.data


